.Login {
	align-items: center;
}

.Login span{
    color:tomato;
}

.Login {
	align-items: center;
}

.Login input{    
    width: 250px;
    /* box-sizing: border-box; */

}

.Login > form {
    text-align: left;
    display: flex;
    align-items: center;
}

.form-group {
    width: 45%;
}