.CouponsList {
	height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content:flex-start;
    align-items:center;
    /* overflow: auto; */
    flex-direction: column;
    background-color: lightblue;
}

.CouponsList tr:ntn-child(even){
    background-color:lightblue;

}
.CouponsList tr:ntn-child(odd){
    background-color:lightcoral;
    
}
.CouponsList tr:nth-child(even){background-color: #f2f2f2;}

.CouponsList tr:hover {background-color: #ddd;}

.mytable{
    height: 80%;
    overflow: auto;
    }