.CouponsList {
	height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content:flex-start;
    align-items:center;
    /* overflow: auto; */
    flex-direction: column;
    background-color: rgb(255, 249, 242);
    
}
.CouponsList >h1{
    height: 80px;
    display: flex;
    justify-content:flex-start;
    align-items:center;
    background-color:rgb(165, 159, 159);
    overflow: auto;
    text-align: center;
}

.CouponsList tr:ntn-child(even){
    background-color:rgb(26, 82, 100);

}
.CouponsList tr:ntn-child(odd){
    background-color:rgb(79, 165, 223);
    
}
.CouponsList tr:nth-child(even){background-color: #f2f2f2;}

.CouponsList tr:hover {background-color: #ddd;}

.mytable{
    height: 120%;
    overflow: auto;
    }
    .table-coupon td {
        width: 25%;
    }
    
    .img-coupon {
        width: 35%;
    }
    .p{
        width: 25%;
        text-align: center;
    }
    